<h1><%= catering.name %></h1>
<img src="<%= catering.image %>" alt="<%= catering.name %>" width="400">
<p><%= catering.description %></p>

<h2>Items Provided</h2>
<ul>
  <% catering.items.forEach(item => { %>
    <li><%= item.name %> - $<%= item.price %></li>
  <% }) %>
</ul>

<a href="/catering">Back to Catering List</a>
